@media screen and (max-width: 1024px) {
	.header-nav {
		padding-top: 18px;
	}

	.logo img {
		max-width: 126px;
	}
	.mobile-container {
		display: none;

		&.show {
			display: flex;
			max-height: 515px;
			position: absolute;
			top: 105px;
			left: 0;
			flex-direction: column;
			background-color: #363a4d;
			padding: 0px 40px 60px;
			align-items: center;
			z-index: 2;
		}
	}

	.header-nav-list {
		flex-direction: column;
		padding: 37px 12px 24px;
		gap: 11px;
	}
	.header-nav-list-link {
		font-size: 24px;
		line-height: 222%;
		color: #fff;
	}
	.btn {
		padding: 21px 82px;
	}

	.slider-info {
		padding: 0;
		.swiper-slide {
			min-height: calc(100vh - 71px);
			border-radius: 0;
			padding: 0 20px;
			background-position: center;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background-color: #04051199;
				z-index: 1;
			}
		}
		.btn-lg {
			padding: 19.6px 25px;
		}
		.swiper-pagination {
			display: flex;
			left: 37%;
			gap: 18px;
		}

		.banner {
			margin: 0 auto;
			position: relative;
			max-width: 276px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			z-index: 1;
			&-title {
				font-size: 32px;
				line-height: 40.32px;
			}
			&-description {
				font-size: 16px;
				line-height: 21.68px;
				margin-bottom: 20px;
			}
		}
		.arrow-container {
			display: none;
		}
	}
	.template-title {
		h2 {
			font-size: 24px;
			line-height: 29.88px;
		}

		h3 {
			font-size: 16px;
			font-weight: 400;
			line-height: 19.92px;
		}

		&:after {
			bottom: 42px;
		}

		&.half-section {
			margin: 0 auto;
			text-align: center;
		}
	}

	section {
		padding: 55px 0 60px;
		&.accent {
			&:before {
				width: 100%;
				border-radius: 0;
			}
		}
	}
}
