.calculation {
	.container {
		position: relative;
	}
}

.calculation-form {
	max-width: 626px;
	padding: 47px 50px 61px;
	border-radius: 20px;
	background-color: $bg-secondary;
	box-shadow: 0px 2px 40px 0 rgb(6 9 27 / 62%);
}
.form-row {
	display: flex;
	gap: 30px;
}
.form-column {
	width: 100%;
}
.input-box {
	margin-bottom: 17px;
}
.variation-box {
	padding-top: 23px;
}
.control-box {
	margin-bottom: 14px;
}
.form-row .btn {
	padding: 20px 35px;
}
#file-name {
	margin-bottom: 12px;
}
[type="file"] {
	display: none;
}

.input-box .calculation-label {
	border: 2px dashed #ffffff42;
	padding: 10px 24px;
	border-radius: 10px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	&:hover {
		color: $color-secondary;
		border: 2px dashed $color-secondary;
	}
}

.calculation-decoration {
	position: absolute;
    bottom: -100px;
    left: 626px;
    max-width: 29.167vw;
    max-height: 888px;
}
div.file-name {
	font-size: 15px;
	margin: 0px 0px 9px 0px;
}
.special-gap {
	margin-bottom: 17px;
}